.bg-background{
    background: #F5F2EB;
}
.deco-none {
    text-decoration: none;
    outline: none;
}
body{
    background: #e7e5e1 !important;
}
h1{
    text-align: center;
}
.width50{
width: 35%;
}
.width100{
    width: 100%;
}
.deco-none:focus ,.deco-none:active , .deco-none:hover{
    text-decoration: none;
    outline: none;
}
.rounded-lg{
    border-radius: 25px !important;
}
.pt-110{
    padding-top: 110px;
}
.z-index-1{
    z-index: 1;
}
.gap{
    gap: 4px;
}
.button-design{
background: #fec787;
}
.button-design1{
    background: none;
    border: solid 1px rgb(115, 111, 111);
    width: 100%;
    }
.gap-2{
gap: 4px;
}
.font-size{
    font-size: 14px;
}
.width90{
    width: 90% !important;
}
.width10{
    width: 10% !important;
}
.resize-text-area{
    resize: none;
}