.disp-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-container{
    padding: 20px 15px;
    margin: 20px;
}
.pad20px{
    padding: 20px 20px;
}
